@model BTLWebKhaoSat.Models.Survey

<h2>@Model.Title</h2>
<form asp-action="AnswerSurvey" method="post">
    <input type="hidden" name="SurveyId" value="@Model.SurveyId" />

    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        var question = Model.Questions.ElementAt(i);

        <div class="form-group">
            <label>@question.QuestionText</label>

            @if (question.TypeId == 1) // Text
            {
                <input type="hidden" name="responses[@i].QuestionID" value="@question.QuestionId" />
                <input type="text" name="responses[@i].AnswerText" class="form-control" />
            }
            else if (question.TypeId == 2) // Single Choice
            {
                <input type="hidden" name="responses[@i].QuestionID" value="@question.QuestionId" />
                @foreach (var option in question.QuestionOptions)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="responses[@i].AnswerText" value="@option.OptionText" />
                        <label class="form-check-label">@option.OptionText</label>
                    </div>
                }
            }
            else if (question.TypeId == 3) // Multiple Choice
            {
                <input type="hidden" name="responses[@i].QuestionID" value="@question.QuestionId" />
                @foreach (var option in question.QuestionOptions)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="responses[@i].Options" value="@option.OptionText" />
                        <label class="form-check-label">@option.OptionText</label>
                    </div>
                }
            }
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
